@font-face {
    font-family: "Open Sans";
    src: url(OpenSansCondensed-Light.ttf) format("truetype");
}


@font-face {
    font-family: "Open Sans Bold";
    src: url(OpenSansCondensed-Bold.ttf) format("truetype");
}


body{
	overflow-x: hidden;
	margin: auto;
}

h1.contact{
	color:white;
	font-family: Open Sans Bold, bold;
}


table{
	margin-left: -2%;
	margin-right: -2%;
	margin-top: -2%;
	width: 103%;
}

img.logo{
	width:50%;
}


img.content{
	width:40%;
	margin-left: 3%;
	margin-right: 3%;
}



div.footer{
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: -4%;
	background: black;
	
}


img.footerimg{
	width:5%;
	margin-left: 3%;
	margin-right: 3%;
}


@media only screen and (max-width:800px) {
 img.logo{
	width:75%;
}

img.footerimg{
	width:10%;
}

img.content{
	width:50%;
	margin-top: 3%;
	margin-bottom: 3%;
}

}


@media only screen and (max-width:500px) {
  img.logo{
	width:100%;
}

img.footerimg{
	width:15%;
}

img.content{
	width:60%;
	margin-top: 3%;
	margin-bottom: 3%;
}

}


img.art{
	width:100%;
}

h1.back{
	color:black;
	font-family: Open Sans Bold, bold;
}

video{
	width: 50%;
}

div.domino{
	margin-top: -1.15%;
	background:#5ba1a5;
}

div.banana{
	background:black;
}

div.metal{
	background:#6a6559;
}

