@font-face {
    font-family: "Open Sans";
    src: url(OpenSansCondensed-Light.ttf) format("truetype");
}


@font-face {
    font-family: "Open Sans Bold";
    src: url(OpenSansCondensed-Bold.ttf) format("truetype");
}


body{
	margin: auto;
}

h1{
	color:white;
	font-family: Open Sans Bold, bold;
}

/*
div.logo{
	margin-top: -3%;
	background: black;
}
*/


table{
	margin-left: -2%;
	margin-right: -2%;
	margin-top: -2%;
}


div.footer{
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: -4%;
	background: black;
	
}


@media only screen and (max-width:800px) {
  /* For tablets: */
 /* div.logo {
	padding-bottom: -100%;
	margin-top: -5%;
	width: 100%;
	height: 35%;
  }*/
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
 /* div.logo {
	padding-bottom: -100%;
	margin-top: -5%;
	width: 100%;
	height: 20%;
  }*/
  

}