@font-face {
    font-family: "Open Sans";
    src: url(OpenSansCondensed-Light.ttf) format("truetype");
}


@font-face {
    font-family: "Open Sans Bold";
    src: url(OpenSansCondensed-Bold.ttf) format("truetype");
}

body{
	margin: auto;
}

div.logo{
	margin-top: -2%;
	background: black;
}

